right {
  background: #00000080;
  margin: 5px 5px 0px 5px;
  padding: 0 12px;
  border-radius: 6px 14px 0px 14px;
  color: #fff;

  button {
    color: #fff;
    font-weight: normal;
    background: transparent;
    border: none;
    box-shadow: none;
    width: fit-content;
    margin: 0;
    padding: 0;
    margin-left: 8px;
  }

  popover>contents {
    margin-top: 8px;
    margin-right: 6px;
    border: 1px solid #cba6f7;
    border-radius: 0px;
    font-size: 10px;
  }
}
