right {
  background: #00000080;
  margin: 5px 5px 0px 5px;
  padding: 0 12px;
  border-radius: 6px 14px 0px 14px;
  color: #fff;

  btn-2 {
    > button {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}

