.power-menu-wrapper {
  button {
    font-weight: normal;
    background: transparent;
    border: none;
    box-shadow: none;
    width: fit-content;
    margin: 0;
    padding: 0;
  }

  popover>contents {
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 0px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: normal;
    border: 1px solid #b4befe50;
    background-color: #181825;
    color: #fff;
  }

  .power-menu-icon {
    font-size: 12px;
    margin-left: 8px;
    color: #f38ba8;
  }

  .power-menu {
    min-width: 150px;

    .option:hover {
      background-color: #1e1e2e;
    }

    .icon {
      font-family: "JetBrainsMono Nerd Font Mono";
      font-size: 16px;

      &.lock {
        color: #cdd6f4; // gray
      }

      &.sleep {
        color: #f9e2af; // yellow
      }

      &.reboot {
        color: #89b4fa; // blue
      }

      &.shutdown {
        color: #f38ba8; // red
      }
    }
  }
}
