.battery {
  margin-left: 12px;

  .battery-logo {
    margin-right: 2px;
    font-size: 12px;

    &.high {
      color: #a6e3a1; // green
    }

    &.medium {
      color: #94e2d5; // teal
    }

    &.low {
      color: #fab387; // orange
    }

    &.critical {
      color: #f38ba8; // red
    }

    &.charging {
      color: #f9e2af; // yellow
    }
  }
}

